.mayor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.fondo {
  filter: brightness(1.2);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  
}


.container_creategame {
  margin: 20px 100px 100px 100px;
  padding: 50px;
  background: #00000056;
  width: 90%;
  border-radius: 53px;
  display: flex;
  
  
}

.container_form {
  min-width: 65%;
  
  
}

.container_title {
 height: 100px;
  display: flex;  
  background-color: darkblue;
  border-radius: 15px;
  border: solid 3px  #fcfc00;
  
}

/*"Crea tu"*/
.first_title {
  margin: 25px;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  color: #fcfc00;
  margin-left: 45px;
  /* background-color: #a8a7b5; */
  
}

.second_title {
  margin: 20px;

  font-size: 40px;
  text-align: center;
  margin-left: -4px;
  color: #2bc634;
  
    
}
/* segundo container */
.label_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* background-color: #fcfc00; */
}

.form_create {
  width: 80%;
}

/*encabezados*/
.names {
  text-align: left;
  font-size: 25px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #010613;
  /* background-color: #fcfc0027; */
}

.inputs_names,
.inputs_description {
  width: 75%;
}

/*imput de "nombre de videojuego"*/
.inputs_names {
  height: 33px;
  border: none;
  border-bottom: 3px solid #f82a32;
  background: #d8e5ea7f;

  color: #000;
  font-size: 20px;
  border-radius: 30px;
  padding: 10px;
}

/*imput de "descripcion"*/
.inputs_description {
  border: none;
  border-bottom: 3px solid #f82a32;
  min-height: 55px;
  background: #d8e5ea7f;
  resize: none;
  color: #000;
  font-size: 16px;
  border-radius: 15px;
  padding: 10px;
}

.inputs_description::-webkit-scrollbar {
  width: 15px;
  
}

.inputs_description::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  border-radius: 15px;
}

.inputs_description::-webkit-scrollbar-thumb {
  
  border-radius: 0px;
  border: 3px solid #FCFC00;
}

 /*CONTENEDOR DE "Fecha de lanzamiento y rating"*/
.container_date_n_rating {
  justify-content: center;
  display: flex;
  gap: 100px;
  background: #d8e5ea7f; 
  border-radius: 15px 15px 0px 0px; 
}

.inputs_date_n_rate {
  height: 33px;
  border: none;
  border-bottom: 3px solid #f82a32;
  background: #d8e5ea7f;
  color: #fc0606;
  font-size: 20px;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  
}

.inputs_names:focus,
.inputs_description:focus,
.inputs_date_n_rate:focus {
  background: linear-gradient(to bottom, transparent, #3333336c);
  outline: none;
  border-bottom: 3px solid rgb(0, 255, 13);
  /* background-color: #fcfc00; */
}

.label_container_two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  
}

.container_genres_platforms {
  display: flex;
  gap: 50px; 
  background-color: #d8e5ea7f;
  justify-content: center;
  
}

/*contenedor de Genres y Platformas*/
.container_arrays {
  
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  gap: 15px;
  background-color: #cae1eabd;
  border-radius: 10px;
}

/*contenedor de burbujas*/
.unit_m {
  display: flex;
  gap: 5px;
  font-size: 15px;
  margin-right: 12px;
  background-color: #79d79b;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #dd60bb;
  transition: 0.3s;
}

.unit_m:hover {
  background-color: #fff;
  border: 3px solid #5df3af;
  transform: translateY(-7px);
}

.label_unit {
  text-align: left;
  color: #000;
  font-weight: 600;
}

/* .button {
  position: relative;
  left: -120px;
  top: 30px;
  cursor: pointer;
  background-color: #000;
  transition: 0.5s;
} */

.button:hover {
  background-color: rgb(0, 255, 13);
  color: #000;
}

.container_assassin {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  
}

.assassins_creed {
  position: relative;
  width: 800px;
  right: 200px;
}

 /*este es contenedor del boton que lleva a home*/
.back_tohome {
  width: 120px;
  position: relative;
  left: 1px;
  bottom: -100px;
  background-color: #fff31c;
  height: 35px;
  padding: 10px;
  border-radius: 15px;
  border: 3px solid #e53952;
  transition: 0.4s;
}

/*este es el boton que lleva a home*/
.link {
  position: relative;
  bottom: 20px;  
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 15px;
  color: #000;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.1s;
  
}

.back_tohome:hover {
  background-color: #ff252b;
  border: 3px solid #2ab836;
  transform: translateY(-10px);
}

.link:hover {
  color: #fcfc00;
}

.logo {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  transition: 1s;
  border-radius: 5;
}

/*color de letras chicas*/
.errors {
  margin-top: 5px;
  color: #000;
  font-size: 14px;
}
.names {
  justify-content: center;
  align-items: center;
  color: #00008b;
  font-weight: 900;
  
}

 .form_create {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
/*

.label_container {
  margin: 50px;
}



.inputs_names {
  border-radius: 10px;
  border: 1px solid #008d4d;
  width: 200px;
  height: 25px;
  color: black;
}

.inputs_description {
  border-radius: 10px;
  border: 1px solid #008d4d;
  width: 250px;
  height: 150px;
  color: black;
}

.container_arrays {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



.button {
  background: #5df3af;
  color: #008d4d;
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  border-radius: 15px;
  margin: 5px;
  transition: 3s;
}

.button:hover {
  background: #a0ffd4;
  padding: 13px;
}

.back_tohome {
  background: #c4ffe5;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid #008d4d;
  border-radius: 35px;
  transition: 3s;
}

.back_tohome:hover {
  background-color: #008d4d;
  box-shadow: 0 0 1rem rgb(2, 58, 30), 0 0 1rem rgb(2, 58, 30),
    0 0 1rem rgb(2, 58, 30);
}

.link {
  text-decoration: none;
  font-size: 45px;
  cursor: pointer;
  margin-top: 15px;
  color: #02502d;
  font-weight: 600;
  transition: 3s;
}

.link:hover {
  color: #a0ffd4;
} */
