.mayor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: column;
}

.fondo {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -1;
  
}

.container_creategame {
  margin: 20px 100px 100px 100px;
  padding: 50px;
  background: #cdcbcc22;
  width: 90%;
  border-radius: 53px;
  display: flex;
}

.container_form {
  min-width: 65%;
}

.container_title {
  display: flex;
  margin-bottom: 25px;
}

/*"Crea tu"*/
.first_title {
  font-size: 50px;
  text-align: left;
  color: #fcfc00;
  /* background-color: #a8a7b5; */
  
}

.second_title {
  font-size: 50px;
  text-align: left;
  margin-left: 10px;
  
}
/* segundo container */
.label_container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  /* background-color: #fcfc00; */
}

.form_create {
  width: 80%;
}

/*encabezados*/
.names {
  text-align: left;
  font-size: 25px;
  margin-top: 25px;
  margin-bottom: 10px;
  color: #2e66fa;
  /* background-color: #fcfc00; */
}

.inputs_names,
.inputs_description {
  width: 75%;
}

.inputs_names {
  height: 33px;
  border: none;
  border-bottom: 3px solid #f82a32;
  background: transparent;
  color: #fff;
  font-size: 20px;
  border-radius: 30px;
  padding: 10px;
}

.inputs_description {
  border: none;
  border-bottom: 3px solid #f82a32;
  min-height: 150px;
  background: transparent;
  resize: none;
  color: #fff;
  font-size: 20px;
  border-radius: 30px;
  padding: 10px;
}

.inputs_description::-webkit-scrollbar {
  width: 15px;
  
}

.inputs_description::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}

.inputs_description::-webkit-scrollbar-thumb {
  
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
}

 /*CONTENEDOR DE "Fecha de lanzamiento"*/
.container_date_n_rating {
  display: flex;
  gap: 200px;
  
  
}

.inputs_date_n_rate {
  height: 33px;
  border: none;
  border-bottom: 3px solid #f82a32;
  background: transparent;
  color: #fff;
  font-size: 20px;
  border-radius: 30px;
  padding: 10px;
  width: 100%;
  
}

.inputs_names:focus,
.inputs_description:focus,
.inputs_date_n_rate:focus {
  background: linear-gradient(to bottom, transparent, #3333336c);
  outline: none;
  border-bottom: 3px solid rgb(0, 255, 13);
  
}

.label_container_two {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  
  
}

.container_genres_platforms {
  display: flex;
  gap: 50px; 
  
}

/*contenedor de Genres y Platforms*/
.container_arrays {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  gap: 15px;
  background-color: #ff728741;
  border-radius: 10px;
}

.unit_m {
  display: flex;
  gap: 5px;
  font-size: 15px;
  margin-right: 12px;
  background-color: #29c761;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #dd60bb;
  transition: 2s;
}

.unit_m:hover {
  background-color: #fff;
  border: 3px solid #5df3af;
  transform: translateY(-7px);
}

.label_unit {
  text-align: left;
  color: #000;
  font-weight: 600;
}

.button {
  position: relative;
  left: -120px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(0, 255, 13);
}

.container_assassin {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30%;
  
}

.assassins_creed {
  position: relative;
  width: 800px;
  right: 200px;
}

 /*este es contenedor del boton que lleva a home*/
.back_tohome {
  width: 120px;
  position: relative;
  left: 265px;
  bottom: -220px;
  background-color: #fff31c;
  height: 35px;
  padding: 20px;
  border-radius: 25px;
  border: 3px solid #ab5b64;
  transition: 0.5s;
}

/*este es el boton que lleva a home*/
.link {
  position: relative;
  bottom: 20px;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 15px;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
  
}

.back_tohome:hover {
  background-color: #01012a;
  border: 3px solid #fff;
  transform: translateY(-10px);
}

.link:hover {
  color: #fcfc00;
}

.logo {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  transition: 2s;
  border-radius: 5;
}


.errors {
  margin-top: 5px;
  color: #c9c5c4;
  font-size: 14px;
}

/* .form_create {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 40px;
}

.label_container {
  margin: 50px;
}

.names {
  color: #c5ffe5;
  font-weight: 600;
  font-size: 18px;
}

.inputs_names {
  border-radius: 10px;
  border: 1px solid #008d4d;
  width: 200px;
  height: 25px;
  color: black;
}

.inputs_description {
  border-radius: 10px;
  border: 1px solid #008d4d;
  width: 250px;
  height: 150px;
  color: black;
}

.container_arrays {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}



.button {
  background: #5df3af;
  color: #008d4d;
  border: none;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  border-radius: 15px;
  margin: 5px;
  transition: 3s;
}

.button:hover {
  background: #a0ffd4;
  padding: 13px;
}

.back_tohome {
  background: #c4ffe5;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid #008d4d;
  border-radius: 35px;
  transition: 3s;
}

.back_tohome:hover {
  background-color: #008d4d;
  box-shadow: 0 0 1rem rgb(2, 58, 30), 0 0 1rem rgb(2, 58, 30),
    0 0 1rem rgb(2, 58, 30);
}

.link {
  text-decoration: none;
  font-size: 45px;
  cursor: pointer;
  margin-top: 15px;
  color: #02502d;
  font-weight: 600;
  transition: 3s;
}

.link:hover {
  color: #a0ffd4;
} */
