.fondo {
    background-repeat: no-repeat ;
         

    /* filter: brightness(1.2); */
    position: fixed;
   
    top: 60%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;

}