/*el contenedor vertical de la izquierda, donde estan los filtros*/
.container_filters {
  margin-top: 110px;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  background-color: #60210c5e;
  
}

/* .options {
  text-align: center;
  border-radius: 10px;
  border: 1px solid #008d4d;
  width: 150px;
  height: 25px;
} */

.container_filter_by_genre {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #1f21219e;
  border-radius: 15px 1px 1px 15px;
  
    
}

.bygenre_container {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-right: 13px;
  background-color: #28ff25;
  padding: 5px;
  border-radius: 15px;
  border: 3px solid #3003e4;  
  margin-top: 5px;
  margin-bottom: 5px;
  transition: 0.3s;
  
}

.nameGenre {
  
  text-align: left;
  margin-left: 9px;
  color: #000;
  font-weight: 500;
  cursor:pointer;
 
}
/*letras de "filtrado ppor genero"*/
p {
  color: #000;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
  /* background-color: #fcfc00; */
}

label {
  color: aliceblue;
  float: left;
  width: 100%;
}

.unit_select {
  margin-top: 100px;
  margin-bottom: 55px;
  width: 100%;
  /* background-color: ; */
  
}

.input_style {
  width: 20px;
  height: 15px;
  float: left;
  background-color: #008d4d;
  color: white;
  
  
}

/*contenedor de boton  borrar filtro*/
button {
  background: #31416c;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  border-radius: 13px;
  margin-top:15px;
  cursor: pointer;
  transition: 0.5s;
  /* background-color: #000; */
}

button:hover {
  background: #2bc634;
  padding: 14px;
  transition: 0.5s;
}
