.container_filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 200px;
  
}

/* .options {
  text-align: center;
  border-radius: 10px;
  border: 1px solid #008d4d;
  width: 150px;
  height: 25px;
} */

.container_filter_by_genre {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: #1f21219e;
  border-radius: 15px 1px 1px 15px;
  
    
}

.bygenre_container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  margin-right: 12px;
  background-color: #28ff25;
  padding: 5px;
  border-radius: 20px;
  border: 2px solid #3003e4;
  transition: 2s;
  margin-top: 5px;
  margin-bottom: 5px;
  
}

.nameGenre {
  text-align: left;
  color: #000;
  font-weight: 500;
}

p {
  color: #000;
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: 700;
}

label {
  color: aliceblue;
  float: left;
  width: 100%;
}

.unit_select {
  margin-top: 100px;
  margin-bottom: 55px;
  width: 100%;
  background-color: ;
  
}

.input_style {
  width: 20px;
  height: 15px;
  float: left;
  background-color: #008d4d;
  color: white;
  
}

button {
  background: #31416c;
  color: #ffffff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  border-radius: 15px;
  margin: 5px;
  cursor: pointer;
  transition: 3s;
}

button:hover {
  background: #a0ffd4;
  padding: 13px;
}
