.mayor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}

.image {
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: -10;
}

.container_creategame {
  padding-right: 0;
  width: 85%;
  height: 800px;
  margin: 50px;
  background: #000000ce;
  /* backdrop-filter: blur(10px); */
  border-radius: 8px;
  display: flex;
}

.container_main_image {
  min-width: 40%;
  overflow: hidden;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.main_image {
  height: 100%;
  position: relative;
  width: 1000px;
  right: 150px;
}

.data_container {
  max-width: 70%;
  padding: 180px 10px 120px 120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  text-align: left;
  color: #5df3af;
  font-size: 50px;
}

.container_sentence {
  padding: 5px;
  margin-top: 15px;
  overflow-y: scroll;
  height: 170px;
  margin-bottom: 25px;
}

.container_sentence::-webkit-scrollbar {
  width: 15px;
}

.container_sentence::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
  border-radius: 10px;
}

.container_sentence::-webkit-scrollbar-thumb {
  background-color: #5df3af;
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
}

.sentence,
.subtitle {
  text-align: left;
  font-size: 20px;
}

.list {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
}

.unit {
  font-size: 15px;
  margin-right: 12px;
  background-color: #000;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #5df3af;
}

.rating_container {
  position: relative;
  top: 60px;
  right: 120px;
  background-color: #ffffff;
  height: 50px;
  padding: 20px;
  border-radius: 25px;
  border: 3px solid #5df3af;
}

.rating {
  position: relative;
  color: #000000;
  font-size: 30px;
  bottom: 18px;
  font-weight: 500;
}

.back_tohome {
  position: relative;
  left: 600px;
  bottom: -60px;
  background-color: #000;
  height: 50px;
  padding: 20px;
  border-radius: 25px;
  border: 3px solid #5df3af;
  transition: 2s;
}

.link {
  position: relative;
  bottom: 35px;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 15px;
  color: #5df3af;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s;
}

.back_tohome:hover {
  background-color: #5df3af;
  border: 3px solid #fff;
  transform: translateY(-10px);
}

.link:hover {
  color: #000;
}

.logo {
  margin-right: 5px;
  width: 30px;
  height: 30px;
  transition: 2s;
}

/*

.main_data {
  width: 50%;
  display: flex;
  gap: 700px;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 50px;
}

.back_tohome {
  background: #c4ffe5;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: 1px solid #008d4d;
  border-radius: 35px;
  transition: 3s;
}

.back_tohome:hover {
  background-color: #008d4d;
  box-shadow: 0 0 1rem rgb(2, 58, 30), 0 0 1rem rgb(2, 58, 30),
    0 0 1rem rgb(2, 58, 30);
}

.link {
  text-decoration: none;
  font-size: 45px;
  cursor: pointer;
  margin-top: 15px;
  color: #02502d;
  font-weight: 600;
  transition: 3s;
}

.link:hover {
  color: #a0ffd4;
}

.rating_container {
  background: #ffd102;
  width: 150px;
  height: 100px;
  border: 1px solid #fff;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.rating {
  font-size: 35px;
  color: #fff;
  margin-top: 25px;
  margin-left: 10px;
  font-weight: 600;
}

.mapeo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 25px;
} */
