.paginated_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 30px;
    background-color: #ff252b;
    border-radius: 15px;
    
}
  
/* botones <<|>>*/
.back_page,
.forward_page {
 background-color: #42af5a;
    border: none;
    padding: 5px 10px;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 3s;
    
}

.back_page:hover,
.forward_page:hover {
    width: 45px;
    height: 45px;
    background: #a0ffd4;
    background-color: #fff63c;
}

.back_page:active,
.forward_page:active {
    box-shadow: 0 0 1rem rgb(0, 241, 121), 0 0 1rem rgb(0, 241, 121), 0 0 1rem rgb(0, 241, 121);
}

.back_page[disabled],
.forward_page[disabled] {
    cursor: no-drop; 
}
/*imagen de fondo*/
img {
    width: 77%;
}
/*contenedor del numero de pagina*/
.input {
    text-align: center;
    border-radius: 10px;
    border: 3px solid #008D4D;
    width: 65px;
    height: 25px;
    background-color: #fff;
}

/*de 7*/
.p {
    color: #21191f;
    font-weight: 800;
}