/*contenedor del Navbar*/
.container_nav {
  margin-top: 25px;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;   
  gap: 320px;
  border-radius: 10px 10px 20px 20px;
  padding: 25px;
  background-color: #f61315;
  /* pad: 10px;     */
  z-index: 10;
  position: fixed;
  justify-content: center;
  
  
}


/* .container_nav {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  gap: 100px;
  border-radius: 20px;
  padding: 20px;
  background-color: #f61315;
  width: 100%;
} */


.container_nav:hover {
  background-color:#2bc634; 
}

/*contenedor del boton Crear Juego*/
.container_link {
  background: #2bc634;
  color: #008d4d;
    font-size: 28px;
  font-weight: 40px;
  padding: 10px;
  border-radius: 15px;
  margin: 7px;
  transition: 0.5s;
    
}

.container_link:hover {
  background: #ff272d;
  padding: 13px;
}

.create_link {
  text-decoration: none;
  color: #fff;
  transition: s;
}

.create_link:hover {
  color: #fff;
}
/*Botón que lleva a Inicio*/
.logo {
  width: 75px;
  height: 75px;
  transition: 0.5s;
  border-radius: 10px;
}

.logo:hover {
  width: 90px;
  height: 90px;
  transition: 0.5s;
  cursor: pointer;
}
