.container_nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;   
  gap: 100px; 
  border-radius: 20px;
   padding: 20px;
  background-color: #f61315;
  
}

.container_nav:hover {
  background-color:#2bc634; 
}

/*contenedor del boton Crear Juego*/
.container_link {
  background: #2e6fff;
  color: #008d4d;
    font-size: 28px;
  font-weight: 40px;
  padding: 10px;
  border-radius: 15px;
  margin: 5px;
  transition: 2s;
    
}

.container_link:hover {
  background: #fff31c;
  padding: 13px;
}

.create_link {
  text-decoration: none;
  color: #fff;
  transition: s;
}

.create_link:hover {
  color: #f61315;
}

.logo {
  width: 75px;
  height: 75px;
  transition: 0.5s;
  border-radius: 10px;
}

.logo:hover {
  width: 90px;
  height: 90px;
  transition:all;
}
